{% extends 'base.html' %}

{% block content %}
  <div>
    <div style="text-align:center; max-width: 500px; margin: 4rem auto;">
      <p>
        가입날짜 : {{ target_user.date_joined }}
      </p>

      {% if target_user.profile %}
      <!-- 이미지 넣기-->
      <img src="{{ target_user.profile.image.url }}" alt=""
           style="height:12rem; width: 12rem; border-radius: 5rem; margin-bottom: 2rem; object-fit:cover;">

      <h2>
        {{ target_user.profile.nickname }}
        {% if target_user == user %}
        <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}"
          class="material-icons"
          style="box-shadow:0 0 3px ; ">
          edit
        </a>
        {% endif %}
      </h2>

      <!--간단한 소개글-->
      <h5>
        {{ target_user.profile.message }}
      </h5>

      {% else %}
        {% if target_user == user %}
        <a href="{% url 'profileapp:create' %}">
          <h2>
            Create Profile
          </h2>
        </a>
        {% else %}
      <h2>
        닉네임을 설정해주세요!
      </h2>
        {% endif %}
      {% endif %}

      <!--target_user가 지금 접속한 유저와 같다면 보여줌-->
      {% if target_user == user %}
      <a href="{% url 'accountapp:update' pk=user.pk %}"  class="material-icons">
        <p>
          update
        </p>
      </a>
      <a href="{% url 'accountapp:delete' pk=user.pk %}" class="material-icons">
        <p>
          delete
        </p>
      </a>
      {% endif %}
    </div>
    <div>
      {% include 'snippets/list_fragment.html' with article_list=object_list %}
    </div>
  </div>

{% endblock %}