{% extends 'base.html' %}
<!--bootstrap 라이브러리 사용하기-->
{% load bootstrap4 %}

{% block content %}

    <div style="text-align: center; max-width: 500px; margin: 4rem auto;">
        <div>
            <h4>Login</h4>
        </div>
        <div>
            <form action="" method="post">
                {% csrf_token %}
<!--                {{ form }}-->
                {% bootstrap_form form %}
                <!--col-? : 12가 최대 / mt-? : margin top 이라는 뜻 기존 margin * ?  -->
                <input type="submit" class="btn btn-dark rounded-pill col-3 mt-3">

            </form>
        </div>
    </div>

{% endblock %}