
.bottom {
    margin:2rem; text-align:center;
    font-family: 'NanumSquareRoundOTFB';
}

.bottom_logo {
    margin-top:1rem; font-family:
    font-family: 'NanumSquareRoundOTFB';
}

.bottom_menu {
    font-size:1rem;
    font-family: 'NanumSquareRoundOTFB';
}

.top {
    margin:2rem;
    text-align:center;
}

.top_logo {
    font-family: 'NanumSquareRoundOTFB';
}


@media screen and (max-width:500px) {
    html {
    font-size: 13px
    }
}

a {
    color:block;
    text-decoration : none;
}

a:hover {
    color: black;
    text-decoration : none;
}

.header_nav {
    margin: 0 2rem;
}

.header_navbar {
    margin:1rem 0 ;
}