
<div style="text-align:center; margin: 1rem 0;">
    <!-- has_previous : 이전 페이지가 있다면, 이전 페이지로 향하는 숫자 생성   -->
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}"
        class="btn btn-secondary rounded-pill">
        {{ page_obj.previous_page_number }}
    </a>
    {% endif %}
    <!-- 현재 있는 페이지 -->
    <a href="?page={{ page_obj.number }}"
        class="btn btn-secondary rounded-pill">
        {{ page_obj.number }}
    </a>
     <!-- next_page_number : 다음 페이지가 있다면, 다음 페이지로 향하는 숫자 생성   -->
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}"
        class="btn btn-secondary rounded-pill">
        {{ page_obj.next_page_number }}
    </a>
    {% endif %}

</div>