
.bottom {
    margin:2rem; text-align:center;
}

.bottom_logo {
    margin-top:1rem; font-family:
    'Source Code Pro', monospace;
}

.bottom_menu {
    font-size:1rem;
}

.top {
    margin:2rem;
    text-align:center;
}

.top_logo {
    font-family: 'Source Code Pro', monospace;
}


@media screen and (max-width:500px) {
    html {
    font-size: 13px
    }
}