{% load static %}

<head>
    <meta charset="UTF-8">
    <!-- 모바일로 볼 때 기기 사이즈 맞게 자동 적용-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blog</title>
    <!-- 부트스트랩 링크-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
          crossorigin="anonymous">

    <!-- 제목 google font link   -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
    <!--구글 아이콘-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet">

    <!-- Css link    -->
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <!--네이버 폰트 적용-->
    <style>
        @font-face {
            font-family: 'NanumSquareRoundOTFB';
            src: local('NanumSquareRoundOTFB'),
            url("{% static 'fonts/NanumSquareRoundOTFB.otf' %}") format("opentype");

        @font-face {
            font-family: 'NanumSquareRoundOTFEB';
            src: local('NanumSquareRoundOTFEB'),
            url("{% static 'fonts/NanumSquareRoundOTFEB.otf' %}") format("opentype");
        }



    </style>
</head>